supervisor*
app.sock
nginx-app.conf
uwsgi_params
uwsgi.ini
*__pycache__*
*.vscode
.idea
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
__pycache__/
*/__pycache__/
*.ipynb
flame_api/flame.log
scores.tsv
pca-scores12.png
flame.log
flame_api/flame.log
training_series.sdf
